html {
    background-color: whitesmoke;
}

.roboto-condensed{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
  }
body{
    font-family: "Roboto Condensed", "sans-serif";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container {
    background-image: linear-gradient(130deg , rgb(159, 218, 238), rgb(51, 157, 192));
    position: absolute; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    top: 50%; 
    left: 55%; 
    transform: translate(-50%, -50%); 
    border-radius: 20px; 
    padding: 20px;  
}

#container > .title {
   margin-left: 111px;
   font-weight: 900;
   font-size: 20px;
   margin-bottom: 30ox;
   color: #323232;
   text-align: center;
   justify-content: center ;
}

#content{
    align-items: center;
    margin-right: 90px;
    margin-left: 60px; 
    color: #FFF;
}

input {
    width: 283px;
    height: 29px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    background-color: beige;
    font-size: 15px;
    color: #323232;
    padding: 5px 10px;
    outline: none;


}
input::placeholder {
    color: #666;
    opacity: 0.8;
  }

 input:focus {
    border: 2px solid var(--input-focus);
  }



button {
    margin: 50px auto 0 auto;
    width: 200px;
    height: 37px;
    border-radius:8px;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    font-size: 17px;
    font-weight: 700;
    color: #323232;
    cursor: pointer;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 120px;
    gap: 10px;
    
}

button:hover {
    transform: scale(1.05);
    border-color: #fff9;
    box-shadow: 5px 5px black;
    transition: 0.5s;
   -webkit-animation: btn-content 1s;
   animation: btn-content 1s;
   outline: 0.1em solid transparent;
   outline-offset: 0.2em;
   box-shadow: 0 0 0.4em 0
    
  }

